name: CI
on: [push, pull_request]
env:
  go-version: '1.23.5'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
      postgres:
        image: postgis/postgis:15-3.3-alpine
        env:
          POSTGRES_PASSWORD: temba
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      rabbitmq:
        image: rabbitmq:3.9-management
        ports:
          - 5672:5672
        options: --health-cmd "rabbitmqctl node_health_check" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Install Postgres Client
      run: |
        sudo apt-get update
        sudo apt-get install -y wget gnupg2 lsb-release
        echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" | sudo tee /etc/apt/sources.list.d/pgdg.list
        wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo tee /etc/apt/trusted.gpg.d/postgresql.asc > /dev/null
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends postgresql-client-15

    - name: Initialize database
      # we create our test database with a different user so that we can drop everything owned by this user between tests
      run: |
        export PGPASSWORD=temba
        psql -h localhost -U postgres --no-password -c "CREATE USER mailroom_test PASSWORD 'temba';"
        psql -h localhost -U postgres --no-password -c "ALTER ROLE mailroom_test WITH SUPERUSER;"
        psql -h localhost -U postgres --no-password -c "CREATE DATABASE mailroom_test;"

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.go-version }}

    - name: Run tests
      run: |
        export PGPASSWORD=temba
        go test -p=1 -coverprofile=coverage.text -covermode=atomic ./...

    - name: Upload coverage
      if: success()
      uses: codecov/codecov-action@v1
      with:
        fail_ci_if_error: false
  
  release:
    name: Release
    needs: [test]
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Fetch GoFlow docs
      # for backward compatibility, English docs are copied to root of docs directory
      run: |
        GOFLOW_VERSION=$(grep weni-ai/goflow go.mod | cut -d" " -f5)
        curl -L https://github.com/weni-ai/goflow/releases/download/${GOFLOW_VERSION}/docs.tar.gz | tar zxv
        cp ./docs/en-us/*.* docs/

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ env.go-version }}

    - name: Publish release
      uses: goreleaser/goreleaser-action@v1
      if: ${{ !contains(github.ref, '-') }}
      with:
        version: v0.147.2
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish non-master release
      uses: goreleaser/goreleaser-action@v1
      if: contains(github.ref, '-')
      with:
        version: v0.147.2
        args: release --rm-dist --skip-validate
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
